/*css phần toolbar
Người tạo NVMANH 23/5/2019*/
.content-toolbar {
    background-color: #026b97;
    line-height: 36px;
    align-items: center;
    display: flex;
    color: #fff;
    min-width: 600px;
}
.arrow-down:hover{
    cursor:pointer;
}
#ui-datepicker-div {
    z-index: 9999999999999 !important;
}
.toolbar-item {
    background-color: #026b97;
    line-height: 36px;
    align-items: center;
    padding: 0 12px;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: rgb(50, 140, 160);
}

    .toolbar-item:hover {
        background-color: #0088c2;
        cursor: pointer;
    }

.toolbar-icon {
    background-image: url('../../Contents/icons/common-icon.png');
    background-repeat: no-repeat;
    height: 16px;
    line-height: 16px;
    width: 16px;
    margin: 10px 8px 10px 0;
    float: left;
}

.toolbar-icon-add {
    background-position: -150px -203px;
}

/*css phần tạo của combo box
Người tạo NVMANH 23/5/2019*/

.combobox-item {
    position: absolute;
    top: 37px;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 99;
    display: none;
    border-radius: 3px;
    box-shadow: 1px 1px 10px 1px grey;
}

.item {
    height:32px;
    display: block;
    color: #000;
    padding: 8px 8px;
    text-align: left;
}

    .item:hover {
        text-decoration: none;
        background-color: #026b97;
        color: #fff;
    }

/*css phân combo box thêm mới của toolbar đầu trang
    Người tạo NVMANH 23/5/2019*/

.combobox-add {
    position: relative;
}

.combobox-add-down, .combobox-after-down, .combobox-before-down, .combobox-print-down {
    padding-left: 14px;
    font-size: 10px;
}
.combobox-after-down {
    float: left;
    padding: 13px;
    display: block;
    height: 14px;
    width: 14px;
}
.combobox-before-down, .combobox-after-down {
}
/*định dạng icon trên toolbar
 Người tạo NVMANH 23/5/2019*/
.toolbar-icon-duplicate {
    background-position: -976px -127px;
}

.toolbar-icon-view {
    background-position: -1602px -127px;
}

.toolbar-icon-edit {
    background-position: -77px -203px;
}

.toolbar-icon-delete {
    background-position: -1076px -127px;
}

.toolbar-icon-refresh {
    background-position: -876px -127px;
}

.toolbar-select-add {
    background-color: #026b97;
    color: #fff;
}
/*định dạng phần panel của trang
Người tạo NVMANH 23/5/2019*/
.wrap-content-panel {
    min-width: 800px;
    padding: 4px;
}
/*phần chọn thời gian trên panel
Người tạo NVMANH 23/5/2019*/
.select-date-range {
    display: flex;
}

.select-date {
    display: flex;
}

.form-date {
    padding:4px 8px;
    border: none;
    outline: none;
    width: 84px;
    border-radius:6px;
}

.wrap-select-date {
    display: flex;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
    height: 35px;
    margin-right: 14px;
}

.icon-calender {
    background: url('../../Contents/icons/common-icon.png') no-repeat 0px -169px;
    width: 24px;
    height: 100%;
}
    .icon-calender:hover{
        cursor:pointer;
    }
    .btn-select-term {
        background-color: #fff;
        font-size: 13px;
    }

a.dropdown-item {
    font-size: 13px;
}

.dropdown-menu {
    width: auto;
}

.select-date {
    min-width: 150px;
    position: relative;
}

.date-range {
    position: relative;
    height: 100%;
    float: left;
}

.date-range-combobox {
    width: auto;
    height: 100%;
    float: left;
}

.select-date-range {
    width: auto;
    height: 100%;
    float: left;
}

.wrap-select-range {
    margin-left:2px;
    float: left;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
    height: 35px;
    margin-right: 14px;
    position: relative;
}

.icon-down {
    width: 24px;
    height: 100%;
    float: left;
    padding: 10px 8px;
}
    .icon-down:hover{
        cursor:pointer;
    }

    .select-range-item {
        outline: none;
        float: left;
        border: none;
        width: 85px;
        padding:4px 8px;
        height: 33px;
        border-radius: 6px;
    }

.combobox-range-item {
    position: absolute;
    top: 34px;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 999;
    display: none;
    border-radius: 3px;
    box-shadow: 1px 1px 10px 1px grey;
}
/*Định dạng phần lấy dữ liệu
Người tạo NVMANH 23/5/2019*/
.content-panel-getdata {
    width: auto;
    height: 100%;
    float: left;
}
    .content-panel-getdata:hover{
        cursor:pointer;
    }

    .wrap-content-panel-getdata {
        width: 120px;
        height: 35px;
        border: 1px solid #026B97;
        border-radius: 5px;
    }

.wrap-getdata {
    height: 100%;
    width: 100%;
    padding: 7px;
    margin: auto;
}

.icon-getdata {
    background: url(../../Contents/icons/common-icon.png) no-repeat -599px -127px;
    width: 16px;
    height: 16px;
    margin-right: 3px;
}

/*Nội dung của bảng thống kê
Người tạo NVMANH 24/5/2019*/
.content-table-header {
    overflow-x:hidden;
    height: 66px;
    width: calc(100% - 17px);
}
.table-top{
    position:absolute;
    height:calc(100% - 200px);
    width:100%;
    top:0;
    background-color:#f0f0f0;
}
.table-bottom {
    position: absolute;
    bottom: 0;
    height: 200px;
    width: 100%;
}
.header-column {
    height: 66px;
    float: left;
    background-color: #f0f0f0;
    border-left: 1px solid #d0d0d0;
}
/*nội dung từng hàng của bảng
Người tạo NVMANH 24/5/2019*/
.header-column-check, .row-content-check {
    width: 44px;
    margin: 0px;
    border-left:none;
    border-bottom:1px solid #d0d0d0;
}

    .row-content-check.checked .check-content-table-main {
        background: transparent url('../../Contents/icons/check.png') no-repeat center center;
    }

    .row-content-check .check-content-table-main {
        background: transparent url('../../Contents/icons/uncheck.png') no-repeat center center;
    }

    .header-column-date, .row-content-date {
        width: 154px;
        margin: 0px;
    }

.header-column-number-voucher, .row-content-number-voucher {
    width: 150px;
    margin: 0px;
}

.header-column-type-voucher, .row-content-type-voucher {
    width: 250px;
    margin: 0px;
}

.header-column-total, .row-content-total {
    width: 200px;
    margin: 0px;
}

.header-column-object, .row-content-object {
    margin: 0px;
    width: calc(100% - 1098px);
}

.header-column-reason, .row-content-reason {
    min-width: 300px;
    width: 299px;
    margin: 0px;
}

.header-column-inner {
    padding: 7px 10px 6px;
    text-align: center;
}
.format-voucher-number {
    color: #007abc;
}
.format-voucher-number:hover {
    text-decoration:underline;
    cursor:pointer;
}
/*nội dung cột đầu đầu tiên của bảng
Người tạo NVMANH 24/5/2019*/
.header-column-inner .check-all {
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    margin: 15px auto;
    background-image: url("../../Contents/icons/uncheck.png");
}

    .header-column-inner .check-all.checked {
        background-image: url("../../Contents/icons/check.png");
    }

.check-content-table-main {
    background-image: url("../../Contents/icons/uncheck.png");
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    margin: 0px auto;
}

.button-check {
    display: none;
}
/*Định dạng phần đầu của bảng
Người tạo NVMANH 24/5/2019*/
.title-header-column {
    color: #212121;
    font-weight: bold;
}

.header-select {
    margin:0 2px;
}

.header-wrap-control {
    float: left;
    height: 33px;
    width: 34px;
    background-color: #fff;
    text-align: center;
    border: 1px solid #d0d0d0;
    cursor:pointer;
}

.header-control {
    height: 33px;
    border-width:1px;
    border-style:solid;
    border-color:#d0d0d0;
}

.header-form-control {
    width: calc(100% - 34px);
    height: 100%;
    padding: 4px 8px;
    outline:none;
    border:none;
}

.header-form-control-date {
    outline: none;
    border: none;
    float: left;
    width: calc(100% - 60px);
}
.icon-date-header{
    float:left;
}
.header-select-date {
    height: 100%;
    background-color: #fff;
}

.box-item {
    position: absolute;
    top: 66px;
    width: 150px;
    background-color: #fff;
    z-index: 9999;
    display: none;
    border-radius: 3px;
    box-shadow: 1px 1px 10px 1px grey;
}
.btn-header{
    text-align:center;
}
.btn-header-search {
    text-align: center;
    margin-right: 3px;
    float: left;
    display: block;
    width: 16px;
    height: 16px;
    background: url(../../Contents/icons/common-icon.png) no-repeat -350px 0px;
}

.box-btn-header {
    text-decoration: none;
    color: #000;
}

    .box-btn-header:hover {
        text-decoration: none;
        color: #000;
    }

.wrap-button-combobox {
    padding: 6px 7px;
}
/*loại chứng từ
Người tạo NVMANH 24/5/2019*/
.combobox-type-voucher {
    position: absolute;
    top: 66px;
    background-color: #fff;
    z-index: 9999;
    display: none;
    border-radius: 3px;
    box-shadow: 1px 1px 10px 1px grey;
}

.wrap-select-type-voucher {
    height: 33px;
    margin:0 2px;
    background-color: #fff;
    border: 1px solid #d0d0d0;
}

.select-type-voucher-item {
    width: calc(100% - 24px);
    left: 0;
    float: left;
    height: 31px;
    border: none;
    outline: none;
    padding: 5px 4px 4px 10px;
}

.icon-down-type-voucher {
    float: left;
    width: 24px;
    height: 33px;
}
/*Phần nội dung của bảng
Người tạo NVMANH 24/5/2019*/
.row {
    float: left;
    height: 35px;
    padding: 7px 10px 6px;
    border-style: solid;
    border-color: #e9e9e9;
    border-width: 0px 1px 1px 0;
}
.row-content{
    height:35px;
}
.row-content:hover {
    cursor:default;
}
    .row-content:nth-child(0) {
        background-color: #c3ecff;
    }
    .row-content:nth-child(odd) {
        background-color: #fff;
    }

    .row-content:nth-child(even) {
        background-color: #f6f6f6;
    }

    .row-content:nth-child(odd):hover {
        background-color: #d3e0ec;
    }

    .row-content:nth-child(even):hover {
        background-color: #d1dee9;
    }

.row-content-detail:nth-child(odd) {
    background-color: #fff;
}

.row-content-detail:nth-child(even) {
    background-color: #f6f6f6;
}

.row-content-detail:nth-child(odd):hover {
    background-color: #d3e0ec;
}

.row-content-detail:nth-child(even):hover {
    background-color: #d1dee9;
}
.row-content-active {
    background-color: #c3ecff!important;
}
.row-content-active-row {
    background-color: #c3ecff !important;
}
.content-table-body {
    /*position: relative;*/
    height: calc(100% - 151px);
    min-width: 1248px;
}

.total-column {
    min-width: 1248px;
    display: flex;
    background-color: #FDDCB3 !important;
    border-top:1px solid #d0d0d0;
}

    .total-column .row {
        border-color: #ccc;
    }

.cell-date {
    text-align: center;
    width: 100%;
}

.cell-total-money {
    text-align: right;
    width: 100%;
}
.content-table-main{
    position:relative;
    overflow:auto;
    height:calc(100% - 151px);
}
/*Hàng tính tổng của bảng
Người tạo NVMANH 25/5/2019*/
.content-table-total {
    width: calc(100% - 17px);
    height: 32px;
    overflow-x:hidden;
    overflow-y:hidden;
}

/*Phần phân trang của bảng
Người tạo NVMANH 26/5/2019*/
.wrap-content-table-paging{
    width:100%;
    height:32px;
    position:relative;
}
.btn-paging {
    float: left;
    margin: 3px 2px 3px 0;
    border-radius: 3px;
    position: absolute;
}
.btn-paging-icon:hover{
    text-decoration:none;
}
.label-paging{
    float:right;
}
.btn-paging-icon {
    background-image: url('../../Contents/icons/common-icon.png');
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    cursor: pointer;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(36, 123, 160);
    display: block;
}
.icon-backward {
    background-position: -649px -124px;
    right: auto;
    left: 0px;
    top: 3px;
    margin: 0px;
}
.icon-step-backward {
    background-position: -700px -124px;
    right: auto;
    left: 26px;
    top: 3px;
    margin: 0px;
}
.icon-step-forward {
    background-position: -749px -124px;
    right: auto;
    left: 205px;
    top: 3px;
    margin: 0px;
}
.icon-forward {
    background-position: -798px -124px;
    right: auto;
    left: 231px;
    top: 3px;
    margin: 0px;
}
.icon-refresh {
    background-position: -849px -124px;
    right: auto;
    left: 257px;
    top: 3px;
    margin: 0px;
    opacity:1;
}
.btn-paging-label-page {
    right: auto;
    left: 52px;
    top: 4px;
    margin: 0 0 0 4px;
}
.btn-paging-page-number {
    margin: 0px;
    width: 50px;
    right: auto;
    left: 103px;
    top: 3px;
}
#page-number {
    border: 1px solid #d0d0d0;
    border-radius: 3px;
    text-align: center;
    width:50px;
    height:24px;
    font-weight:600;
}
.btn-paging-total-page {
    right: auto;
    left: 155px;
    top: 4px;
    margin: 0 0 0 4px;
}
.btn-paging-select {
    height: 26px;
    right: auto;
    left: 285px;
    top: 3px;
    margin: 0px;
    width: 46px;
}
.label-paging-number-page {
    position: absolute;
    left:auto;
    right: 0px;
    top: 8px;
    margin: 0px;
}
.btn-paging-select > select {
    height: 24px;
    border: 1px solid #d0d0d0;
    border-radius: 3px;
    font-weight:600;
}
/*Bảng chi tiết ở cuối trang
Người tạo NVMANH 26/5/2019*/
.wrap-content-box-detail{
    height:100%;
    width:100%;
}

/*Tiêu đề phần chi tiết cuối trang
Người tạo NVMANH 26/5/2019*/
.box-detail-table-header {
    border-bottom:1px solid #d0d0d0;
    overflow-x:hidden;
    height: 33px;
    width: 100%;
    background-color: #f0f0f0;
}
.wrap-box-detail-table-header {
    min-width: 550px;
}
.box-detail-header {
    height: 38px;
    width: 100%;
    background-color: #f0f0f0;
}
#box-detail-title {
    right: auto;
    left: 10px;
    top: 10px;
    margin: 0px;
    width: 62px;
    display: block;
    height: 38px;
    text-align: center;
    padding: 11px 0;
    border-bottom: 2px solid #026b97;
}
    #box-detail-title:hover {
        text-decoration: none;
    }
#box-detail-label {
    color: #026b97;
    font-weight: 600;
    width: 100%;
}
/*Bảng phần chi tiết cuối trang
Người tạo NVMANH 26/5/2019*/
.box-detail-table{
    overflow-y:hidden;
    padding:4px 0 0;
    height:calc(100% - 38px);
    width:100%;
}
.detail-column-header {
    border-right: 1px solid #d0d0d0;
    color: rgba(33,33,33,1);
    outline: 0;
    background-color: #f0f0f0 !important;
    height:32px;
    float:left;
    font-weight:600;
    text-align:center;
    padding:8px;
}
.detail-column-body {
    border-right: 1px solid #d0d0d0;
    padding: 7px 10px 6px;
    color: rgba(33,33,33,1);
    outline: 0;
    height: 32px;
    float: left;
}
.detail-column-total {
    border-right: 1px solid #d0d0d0;
    color: rgba(33,33,33,1);
    outline: 0;
    background-color: #FDDCB3 !important;
    height: 32px;
    float: left;
    font-weight: 600;
    text-align: center;
    padding: 10px;
}
.detail-column-header-explain, .detail-column-body-explain, .detail-column-total-explain {
    width: calc(100% - 400px);
}
.detail-column-body-explain{
    text-align:left;
}
.detail-column-header-money, .detail-column-body-money, .detail-column-total-money {
    width: 200px;
    margin: 0px;
}
.detail-column-body-money{
    text-align:right;
}
.detail-column-total-money{
    text-align:right;
}
.detail-column-header-index, .detail-column-body-index, .detail-column-total-index {
    width:200px;
}
.detail-column-body-index{
    text-align:left;
}
.row-content-detail{
    height:32px;
    border-bottom: 1px solid #d0d0d0;
}
.wrap-box-detail-table{
    border-width:1px 0 0 1px;
    border-style:solid;
    border-color:#d0d0d0;
    width:100%;
    height:100%;
}
.box-detail-table-total {
    background-color: #FDDCB3 !important;
    overflow-x: hidden;
    height: 32px;
}
.wrap-box-detail-table-total {
    min-width: 550px;
}
.box-detail-table-body {
    overflow: auto;
    height: calc(100% - 64px);
}
.wrap-box-detail-table-body{
    min-width:550px;
}
.no-title {
    display: none;
}
#iconhelp {
    cursor: pointer;
    float: right;
    margin-right: 10px;
    margin-top: 3px;
}
input:focus>div{
    outline:none;
    border:1px solid #5fa2dd;
}

/*Căn giữa nội dung lịch
Người tạo NVMANH 7/6/2019*/
input.hasDatepicker{
    /*text-align:center;*/
}
/*Bảng chi tiết dưới trang
Người tạo NVMANH 7/6/2019*/
.row-table-detail{
    height:32px;
    width:100%;
}
    .row-table-detail:nth-child(even) {
        background-color: #f6f6f6;
    }

        .row-table-detail:nth-child(even):hover {
            background-color: #d1dee9;
        }

    .row-table-detail:nth-child(odd) {
        background-color: #fff;
    }

        .row-table-detail:nth-child(odd):hover {
            background-color: #d3e0ec;
        }

/*css cho phần tooltip
Người tạo 11/6/2019*/

.toolbar-item + .tooltip > .tooltip-inner, .toolbar-item + .tooltip > .tooltip-arrow {
    background-color: #f00;
}

[data-title] {
    position: relative;
}

    [data-title]:hover::before {
        content: attr(data-title);
        position: absolute;
        bottom: -38px;
        display: inline-block;
        padding: 0px 10px;
        border-radius: 5px;
        background: #000;
        color: #fff;
        font-size: 12px;
        font-family: sans-serif;
        white-space: nowrap;
        z-index: 999999;
        height:32px;
        line-height:32px;
    }
/*css biểu tượng loading cho bảng
Người tạo NVMANH 17/6/2019*/
.icon-loading {
    position: absolute;
    top:50%;
    left:50%;
    background: url('../../Contents/icons/loading.gif') no-repeat;
    width:17px;
    height:17px;
}
.icon-loading-detail {
    position: absolute;
    top: 50%;
    left: 50%;
    background: url('../../Contents/icons/loading.gif') no-repeat;
    width: 18px;
    height: 18px;
}
.border-validate{
    border-color:red!important;
}
/*css cho phần autocomplete chọn phạm vi ngày
Người tạo NVMANH 21/6/2019*/
.ui-menu-range-item{
    width:108px;
}
    .ui-menu-range-item.ui-widget.ui-widget-content{
        border-radius:3px;
    }
    .ui-menu-range-item .ui-menu-item:hover{
        border-radius:0px;
    }
    .ui-menu-range-item .ui-menu-item-wrapper:hover {
        border-radius: 0px;
    }
.ui-menu .ui-menu-item.li-date-range {
    padding: 4px 8px;
}
    .ui-menu .ui-menu-item.li-date-range:hover {
        background-color: #026b97;
        color: #fff;
    }

#overlay-main {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 9999999;
    cursor: pointer;
    opacity: 0.5;
}
/*content menu của bảng chi tiết trên dialog
Người tạo NVMANH 3/7/2019*/
.context-menu{
    width:116px;
    height:32px;
    background-color:#fff;
    position: absolute;
    border:1px solid #d0d0d0;
    border-radius:3px;
    z-index:999;
}
    .context-menu:hover{
        cursor:pointer;
    }
    .context-menu-label:hover {
        background-color: #026b97;
        color: #fff;
    }
    .context-menu span {
        display: block;
        float: right;
    }
.context-menu-icon {
    height: 32px;
    width: 24px;
    background: url('../../Contents/icons/quick-add.png') no-repeat center center;
    border-left:1px solid #d0d0d0;
}
.context-menu-label {
    height: 32px;
    width: calc(100% - 24px);
    padding: 6px 8px;
}
.icon-warn-validate {
    margin-left: 2px;
    background: url(../../Contents/icons/exclamation.png) no-repeat center;
    height: 100%;
    width: 16px;
    float: left;
}
.ui-autocomplete.ui-front{
    z-index:10000;
}